---
import { Image } from "astro:assets";

type Experience = {
  startingDate: Date;
  endingDate: Date | null;
  title: string;
  experienceDescription: string;
};

type CompanyInfo = {
  title: string;
  company: string;
  companyUrl: string;
  companyLogo: string | null;
  experienceList: Array<Experience>;
};

const companiesList: Array<CompanyInfo> = [
  {
    title: "Consultant Developer",
    company: "Thoughtworks",
    companyUrl: "https://www.thoughtworks.com/",
    companyLogo:
      "https://pbs.twimg.com/profile_images/1410154790001205250/doYOQtrs_400x400.jpg",
    experienceList: [
      {
        startingDate: new Date("2022-10-01"),
        endingDate: null,
        title: "Consultant Developer",
        experienceDescription:
          "Worked for several client teams providing software solutions for their business needs as a full stack developer.",
      },
      {
        startingDate: new Date("2022-01-31"),
        endingDate: new Date("2022-09-30"),
        title: "Graduate Consultant Developer",
        experienceDescription: "Lorem ipsum",
      },
    ],
  },
  {
    title: "Full Stack Developer",
    company: "GlobalIncubator",
    companyUrl: "www.globalincubator.com",
    companyLogo: null,
    experienceList: [
      {
        startingDate: new Date("2021-01-01"),
        endingDate: new Date("2022-01-31"),
        title: "Full Stack Developer",
        experienceDescription: "Lorem ipsum",
      },
      {
        startingDate: new Date("2020-09-01"),
        endingDate: new Date("2020-12-31"),
        title: "Intern Frontend Developer",
        experienceDescription: "Lorem ipsum",
      },
    ],
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 mb-72">
  {
    companiesList.map((companyInfo, index) => {
      const { company, companyUrl, companyLogo, experienceList } =
        companyInfo;

      const isLastItem = index === companiesList.length - 1;

      return (
        <li
          class={`flex${
            isLastItem ? "" : " mb-6"
          }`}
        >
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700" />
          <div class="w-24 pl-4 shrink-0 mr-3">
            {companyLogo && (
              <Image
                class="rounded-full w-full"
                src={companyLogo}
                alt={`${company} logo`}
                width={30}
                height={30}
              />
            )}
          </div>
          <section class="flex flex-col">
            {
              experienceList.map((experience) => {
                const { startingDate, endingDate, title, experienceDescription } = experience

                return (
                  <div class="flex flex-col justify-center">
                    <time class="row-span-1  mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                      {startingDate.toLocaleDateString()} -{" "}
                      {endingDate ? endingDate.toLocaleDateString() : "Present"}
                    </time>
                    <h3 class="row-span-1 self-start text-lg font-semibold text-gray-900 dark:text-white">
                      {title}
                    </h3>
                  </div>
                  <p class="col-span-1 col-start-2 mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                    {experienceDescription}
                  </p>
                )
              })
            }
          </section>
        </li>
      );
    })
  }
</ol>
