---
import { Image } from "astro:assets";

type Experience = {
  startingDate: Date;
  endingDate: Date | null;
  title: string;
  experienceDescription: string;
};

type CompanyInfo = {
  title: string;
  company: string;
  companyUrl: string;
  companyLogo: string | null;
  experienceList: Array<Experience>;
};

const companiesList: Array<CompanyInfo> = [
  {
    title: "Consultant Developer",
    company: "Thoughtworks",
    companyUrl: "https://www.thoughtworks.com/",
    companyLogo:
      "https://pbs.twimg.com/profile_images/1410154790001205250/doYOQtrs_400x400.jpg",
    experienceList: [
      {
        startingDate: new Date("2022-10-01"),
        endingDate: null,
        title: "Consultant Developer",
        experienceDescription:
          "Worked for several client teams providing software solutions for their business needs as a full stack developer.",
      },
      {
        startingDate: new Date("2022-01-31"),
        endingDate: new Date("2022-09-30"),
        title: "Graduate Consultant Developer",
        experienceDescription: "",
      },
    ],
  },
  {
    title: "Full Stack Developer",
    company: "GlobalIncubator",
    companyUrl: "https://www.globalincubator.com",
    companyLogo: "https://media.licdn.com/dms/image/C4D0BAQGR_Etg_WaWuQ/company-logo_200_200/0/1630475837381/global_incubator_logo?e=2147483647&v=beta&t=VEb3dtaOC_vORjBEd6iaAm6Ros_MW83_vvEiQ4WleLA",
    experienceList: [
      {
        startingDate: new Date("2021-01-01"),
        endingDate: new Date("2022-01-31"),
        title: "Full Stack Developer",
        experienceDescription: "",
      },
      {
        startingDate: new Date("2020-09-01"),
        endingDate: new Date("2020-12-31"),
        title: "Intern Frontend Developer",
        experienceDescription: "",
      },
    ],
  },
];
---

<ol class="relative">
  {
    companiesList.map((companyInfo, index) => {
      const { company, companyUrl, companyLogo, experienceList } =
        companyInfo;

      const isLastItem = index === companiesList.length - 1;

      return (
        <li
          class={`flex bg-[#F4D35E] border-4 border-black p-4 rounded-xl
            shadow-[10px_10px_0px_0px_rgba(0,0,0,1)] -skew-x-2
            ${isLastItem ? "" : " mb-6"}`}
        >
          <div class="w-24 shrink-0 mr-3">
            {companyLogo && (
              <Image
                class="rounded-full w-full border-solid border-black border-4"
                src={companyLogo}
                alt={`${company} logo`}
                width={30}
                height={30}
              />
            )}
          </div>
          <section class="flex flex-col">
            <h2 class="text-2xl mb-4 font-bold"><a href={companyUrl} target="_blank">{company}</a></h2>
            {
              experienceList.map((experience, experienceIndex) => {
                const { startingDate, endingDate, title, experienceDescription } = experience

                const isLastItem = experienceIndex === experienceList.length - 1;

                return (
                  <div class="flex flex-col justify-center">
                    <time class="mb-1 text-m font-normal leading-none text-gray-700">
                      {startingDate.getMonth() + 1}/{startingDate.getFullYear()} -{" "}
                      {endingDate ? `${endingDate.getMonth() + 1}/${endingDate.getFullYear()}` : "Present"}
                    </time>
                    <h3 class="text-xl font-semibold text-black">
                      {title}
                    </h3>
                  </div>
                  <p class={`${isLastItem ? "" : "mb-4"} text-base font-normal text-gray-500 dark:text-gray-800`}>
                    {experienceDescription}
                  </p>
                )
              })
            }
          </section>
        </li>
      );
    })
  }
</ol>
